
@{
    ViewData["Title"] = "SanInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SanApp.ViewModels.SanViewModel.SanViewModel


<div class="row mt-3">
    <div class="col">
        <h3 class="text-muted text-center">@Model.Descripcion</h3>
        <hr />
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-4">
        <a class="btn btn-block btn-unique mt-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fas fa-user-plus"></i> Añadir participante</a>
        <div class="collapse my-2" id="collapseExample">
            <div class="card card-body">
                <form asp-action="AddParticipante" asp-controller="San" asp-route-SanId="@Model.SanId" method="post">
                    <div class="md-form">
                        <input asp-for="Nombre" class="form-control">
                        <label asp-for="Nombre">Nombre del participante</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Añadir <i class="fas fa-check"></i></button>
                </form>
            </div>
        </div>
        <hr />
    </div>
    <div class="col-md-4 ">
        <h4 class="text-muted ">Lista de participantes</h4>
        <hr />
        @if (Model.Participantes.Any())
        {
            <table class="table table-borderless table-hover">
                <tbody class="">
                    @{ int counter = 0;}
                    @foreach (var i in Model.Participantes)
                    {
                        counter++;
                        <tr>
                            <td class="font-weight-bold">@counter</td>
                            <td><h6 class="font-weight-bold">@i.Nombre</h6></td>
                            <td>
                            <a asp-action="ParticipanteInfo" asp-controller="San" asp-route-id="@i.ParticipanteId" class="btn btn-sm btn-dark-green"><i class="fas fa-hand-holding-usd"></i> Pagos</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3 class="text-muted">No se encontraron participantes</h3>
        }

    </div>
</div>

<div class="row">
    <div class="col">
        @{
            var next = Model.Participantes.Where(p => p.FechaEntrega.Month == DateTime.Today.Month + 1).SingleOrDefault();
            if (next != null)
            {
                <h3 class="text-muted text-center">Informacion relevante</h3>
                <hr />
                <div class="alert alert-primary" role="alert">
                    @next.Nombre sera el proximo en cobrar
                </div>
                <br />
                <h5 class="font-weight-bold text-muted">Sobre el San:</h5>
                <ul class="list-group">
                    <li class="list-group-item">Fecha de apertura: @Model.FechaApertura.ToString("MM/dd/yyyy")</li>
                    <li class="list-group-item">Numero de integrantes: @Model.Participantes.Count</li>
                    <li class="list-group-item">Pago Mensual por integrante: @(Model.Monto / Model.Participantes.Count)</li>
                    <li class="list-group-item">Fecha de Cierre: @Model.FechaApertura.AddMonths(Model.Participantes.Count).ToString("MM/dd/yyyy")</li>
                </ul>
            }
        }

    </div>
</div>

<style>
    ul li {
        list-style: none;
    }
</style>


